  div {
    text-align: center;
  }

  .button {
    border: none;
    position: fixed;
    top: calc(50% - 22px);
    left: calc(50% - 82px);
    width: 150px;
    text-align: center;
    background-color: #ff0000;
    height: 160px;
    padding: 0 30px;
    font-size: 20px;
    border-radius: 30px;
    color: #282d32;
    cursor: pointer;
    outline: 0;
  }
  .button:hover {
    transform: scale(1.1, 1.1);
  }